Docs/6 sem/СПП/Примеры к темам лекций/WcfApplication/WcfServiceClient/WcfServiceClient/Service References/ServiceReference1/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfServiceLibrary1" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfServiceLibrary1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="WhetherInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Humidity" type="xs:double" />
      <xs:element minOccurs="0" name="Pressure" type="xs:double" />
      <xs:element minOccurs="0" name="Temperature" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WhetherInfo" nillable="true" type="tns:WhetherInfo" />
</xs:schema>